.App {
  text-align: center;
  padding: 10px;
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
  background: #eee;
}

.formBox{
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.mainForm input {
  display: inline-block;
  min-height: 40px;
  width: 500px;
  border: 2px solid #000;
  border-radius: 5px;
}

.mainForm button {
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid #000;
  border-radius: 5px;
  background: darkcyan;
  color: #fff;
}

.mainForm button:hover {
  background: #fff;
  box-shadow: 1px 1px 7px darkcyan, -1px -1px 7px darkcyan;
  color: #000;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 10px auto;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding-left: 10px;
  background: #fff;
}

.task p {
  display: inline-block;
}

.task button {
  display: inline-block;
  border: none;
  background: url("./images/deleteBtn.png") no-repeat center;
  background-size: contain;
  width: 30px;
  height: 30px;
  color: #fff;
}

.doneTask {
  color: darkgrey;
}

#checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
}
