.App {
  text-align: center;
  padding: 10px;
}

.formBox{
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}

.mainForm input {
  display: inline-block;
  min-height: 40px;
  min-width: 400px;
  border: 2px solid #000;
  border-radius: 5px;
}

.mainForm button {
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid #000;
  border-radius: 5px;
  background: green;
  color: #fff;
}

.task {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 10px auto;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding-left: 10px;
}

.task p {
  display: inline-block;
}

.task button {
  display: inline-block;
  border: 2px solid #000;
  border-radius: 5px;
  background: brown;
  color: #fff;
}

.doneTask {
  color: darkgrey;
}

.task div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}